:root{
    --cor-primaria: #F2F2F2;
    --cor-secundaria: #EAE4D5;
    --cor-terciaria: #B6B09F;
    --cor-quaternaria: #000000;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body{
    display: flex;
    justify-content: center;
    background-color: aqua;
}

.barra-dados{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-secundaria);
    color: var(--cor-terciaria);
}

.dados--contato{
    display: flex;
    flex-direction: row;
    gap: 20%;
    padding-left: 2%;
    color: var(--cor-terciaria);
}

.dados--site{
    display: flex;
    flex-direction: row;
    gap: 20%;
    padding-right: 2%;
}

.barra-cliente{
    display: flex;
    flex-direction: row;
    background-color: var(--cor-secundaria);
    align-items: center;
    padding: 1% 2%;
    justify-content: space-between;
}

.barra-cliente img{
    max-width: 7%;
}

.barra-cliente__pesquisar{
    display: flex;
    flex-direction: row;
}

.barra-cliente__icones{
    display: flex;
    flex-direction: row;
    gap: 13%;
}

.barra-cliente__icones img{
    max-width: 4vh;
}

.menu__opcoes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3%;
    background-color: var(--cor-quaternaria);
    color: white;
    height: 5vh;
    align-items: center;
}

.menu__opcoes li{
    list-style: none;
}

.container{
    display: flex;
    justify-content: center;
    width: 800px;
    height: 20vh;
    background-color: aqua;
}

