:root{
    --cor-primaria: #F2F2F2;
    --cor-secundaria: #EAE4D5;
    --cor-terciaria: #B6B09F;
    --cor-quaternaria: #000000;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Containers */

.container{
    display: flex;
    justify-content: center;
    background-color: #b6b09f25;
}

.apresentacao{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1dvh;
}

.produto{
    width: 23%;
    height: 100%;
    min-height: 250px;    
    cursor: pointer;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.lista-produtos{
    display: flex;
    flex-wrap: wrap;
    row-gap: 35px;
    gap: 10px;
}

/* Fim Containers */


/* header */
.barra-dados{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-secundaria);
    color: var(--cor-terciaria);
}

.dados--contato{
    display: flex;
    flex-direction: row;
    gap: 20%;
    padding-left: 2%;
    color: var(--cor-terciaria);
    font-size: 12px;
}

.dados--site{
    display: flex;
    flex-direction: row;
    gap: 20%;
    padding-right: 3%;
    font-size: 12px;
}

.barra-cliente{
    display: flex;
    flex-direction: row;
    background-color: var(--cor-secundaria);
    align-items: center;
    padding: 1% 2%;
    justify-content: space-between;
}

.barra-cliente img{
    max-width: 15%;
}

.barra-cliente__pesquisar{
    display: flex;
    flex-direction: row;
}

.barra-cliente__icones{
    display: flex;
    flex-direction: row;
    gap: 10%;
}

.barra-cliente__icones img{
    max-width: 4vh;
}

.menu__opcoes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3%;
    background-color: var(--cor-quaternaria);
    color: white;
    height: 5vh;
    align-items: center;
}

.menu__opcoes li{
    list-style: none;
}

/* Fim cabecalho */

/* Conteudo */

.conteudo{
    width: 90%;
    height: auto;
}

.conteudo__banner{
    margin-top: 32px;
    margin-bottom: 32px;
}

.conteudo__banner--fone{
    position: relative;
    background-image: url(../assets/banner_fone.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 40dvh;
}

.banner__titulo{
    position: absolute;
    bottom: 16vh;
    right: 10vh;
}

.banner__descricao{
    position: absolute;
    bottom: 13vh;
    right: 2vh;
}

.banner__valor{
   position: absolute;
   bottom: 10.5vh;
   right: 12vh;
}

.banner__botao{
   position: absolute;
   bottom: 6vh;
   right: 12vh;
}

.conteudo__categorias{
    margin-bottom: 40px;
}

.conteudo__categorias--itens{
    display: flex;
    width: 100%;
}

.categoria{
    width: 16.6%;
    height: auto;
    font-size: 10px;
}

.categoria__imagem{
    width: 95%;
    height: auto;
}

.categoria__titulo{
    text-align: center;
    cursor: pointer;
}

.categoria__titulo:hover{
    color: mediumturquoise;
}

/* Mais comprados */

.mais-comprados{
    width: 100%;
    height: 20vh;
    margin-bottom: 30%;
}

.mais-comprados__lista{
}

.produto__avaliacao{
    color: gold;
    font-size: 16px;
}

.produto__titulo{
    font-weight: 400;
    font-size: 18px;
}

.produto__desconto{
    border: 1px solid cadetblue;
    padding: 2px 2px;
    display: inline-block;
    background-color: rgba(30, 85, 67, 0.13);
    color: rgb(2, 138, 138);
    border-radius: 2px;
    font-size: 10px;
}

.produto__valor{
    font-weight: 700;
    font-size: 14px;
}

.produto__foto{
    width: 100%;
    height: auto;
    object-fit: contain;
}
/* Fim Mais comprados */

/* Novos produtos */

.novos-produtos__lista{
}

.produto__status{
    color: green;
    border: 1px  solid greenyellow;
    display: inline-block;
    background-color: chartreuse;
    border-radius: 2px;
    font-size: 13px;
}

/* Fim Novos Produtos */

/* Fim Conteudo */
